@import "variables";

// General

body {
  background-image: url("{{ static('images/gray-bg.jpg') }}");
  font-family: "gotham", serif;
  transition: 1s ease;
  -moz-transition: 1s ease;
  -webkit-transition: 1s ease;
  letter-spacing: 1px;
}

@font-face {
    font-family: gotham;
    src: url("{{ static('fonts/gotham-medium.otf') }}");
}

@font-face {
    font-family: signalist;
    src: url("{{ static('fonts/signalist.otf') }}");
}


//Hacks & Overrides

/* Typekit Flash of Unstyled Text Hack */
.wf-loading {
  opacity: 0;
}
.wf-inactive, .wf-active {
  opacity: 1;
  transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
}

/* Bootstrap Click Glow Fix */
*:focus {
  box-shadow: none !important;
  outline: none !important;
}

#powered-by {
  p {
    font-family:gotham;
    font-size: 12px;
    padding: 20px 0 10px 0;
    text-align: center;
    text-transform: uppercase;

  }
    p:hover {
    color:#e94e09 !important;

  }
  a:hover{
    color:#e94e09;
  }
}



// Typography

.brandon {
  font-family: gotham;
}

.droid-serif {
  font-family: gotham;
}

.droid-sans {
  font-family: gotham;
}

.signalist {
  font-family: signalist;
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.black {
  color: $black;
}
.white {
  color: $white;
}
.pink {
  color: $black;
}

.orange{
  color: #e94e09;
}

.light {
  font-weight: 100;
}
.bold {
  font-weight: 800;
}

a {
  transition: 1s ease;
  -moz-transition: 1s ease;
  -webkit-transition: 1s ease;
}

h4 {
  font-family: "signalist", sans-serif;
  font-size: 45px;
  color: #1d1d1b;
  @media (min-width: $screen-sm-min){
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 40px;
  }
}

p {
  font-size: 16px;
  color: #1d1d1b;
  @media (min-width: $screen-sm-min){
    font-size: 16px;
  }
}


p {
  font-size: 16px;
  color: #1d1d1b;
  @media (min-width: $screen-sm-min){
    font-size: 16px;
  }
}

h1 {font-family: "signalist", sans-serif;}
h1.big-hero {
  @media (max-width: 500px) {
    font-size: 40px;
    margin-top: 100px;
  }
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 600;
  @media (min-width: $screen-sm-min){
    font-size: 115px;
  }
}

div.big-hero{
  p{
    color:#fff;
  }
  strong{
    display:block;
    font-family: "signalist", sans-serif;
    @media (max-width: 500px) {
      font-size: 40px;
      // margin-top: 100px;
      line-height:40px;
    }
    font-size: 60px;
    line-height: 60px;
    text-transform: none;
    font-weight: 300;
    @media (min-width: $screen-sm-min){
      font-size: 115px;
      line-height:110px;
    }
    &:after{
      content: "";
      display: block;
      height: 6px;
      width: 30px;
      background: #fff;
      margin:auto;
      @media (min-width:768px){
        margin-top:-5px;
      }
    }
  }
}

.menutitle {font-family: "signalist", sans-serif;  color: #1d1d1b; font-size: 80px;}

h2 {
  font-size: 30px;
  font-family: "signalist", sans-serif;
  @media (min-width: $screen-sm-min) {
    font-size: 50px;
  }
}


h5 {
  font-size: 16px;
  color: #1d1d1b;
  @media (min-width: $screen-sm-min){
  font-size: 16px;
  text-transform:uppercase;
    font-family: "gotham";
  }
}



hr {

  border: 3px solid #1d1d1b;

}


// Layout

.container {
  width: 100%;
  max-width: 1400px;
}

.splash {
  background-repeat: no-repeat;
  max-height: 700px;
  position: relative;
}

.splash.max-none {
  max-height: none;
}

.splash p {
  max-width: 540px;
  margin: 0 auto;
}
.splash .wrapper .btn {
  margin: 10px;
  @media (min-width: $screen-sm-min) {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.circle {
  width: 200px;
  height: 200px;
  @media (min-width: $screen-sm-min) {
    width: 300px;
    height: 300px;
  }
  border: 5px solid #1d1d1b;
  background-size: cover;
  border-radius: 300px;
  -moz-border-radius: 300px;
  -webkit-border-radius: 300px;
}

.circle2 {
  width: 200px;
  height: 200px;
  border: 5px solid #1d1d1b;
  @media (min-width: $screen-sm-min) {
    width: 250px;
    height: 250px;
  }
  background-size: cover;
  border-radius: 300px;
  -moz-border-radius: 300px;
  -webkit-border-radius: 300px;
  display: inline-block;
}

// Buttons

.btn {background-image: none !important; border: none; box-shadow: none; transition: .8s; text-shadow: none !important; -webkit-text-shadow: none !important; -moz-text-shadow: none !important;}
.btn {font-family: "gotham"; font-weight: 400; padding-left: 30px; padding-right: 30px; padding-top: 10px;
    padding-bottom: 10px; text-transform: uppercase; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;letter-spacing:1px;}
.btn-secondary {background-color: $black; border: 1px solid #1d1d1b; color: #fff;}
.btn-secondary:hover {background-color: #1d1d1b; color: #1d1d1b; border: none;}

.btn-default {border: 1px solid transparent;}
.btn-default:hover {background-color: transparent; border: 1px solid #ffffff; color: $white;}
.btn-primary:hover {background-color: #e94e09;}


.btn-default.alt {background: transparent; border: 1px solid #ffffff; color: #ffffff;
  &:hover {background: $white; color: $black;}
}

.btn-submit {width: 100%; padding: 20px; font-size: 16px;}

.btn-paypal {width: 135px; height: 34px; border: none !important; padding: 0 !important;}


// Forms

.error-msg, .success-msg {
  display: none;
}

.form-group > .col-sm-6 {
  margin-bottom: 15px;
  @media (max-width: $screen-sm-max) {
    margin-bottom: 0;
  }
}


// Effects
.desaturate {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%); -o-filter: grayscale(100%);
  filter: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale');
  filter: gray;
  -webkit-filter: grayscale(1);
  &:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0);
  }
}

.desaturate-desktop-only {
  @media screen and (min-device-width: 1100px) and (max-device-width: 2000px) {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); -o-filter: grayscale(100%);
    filter: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale');
    filter: gray;
    -webkit-filter: grayscale(1);
    &:hover {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
      -webkit-filter: grayscale(0);
    }
  }
}



// Datepicker
.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover {background-color: $pink; }



// Modal Windows

.close {
  color: #ffffff;
  opacity: .5;
  text-shadow: none;
  margin: 16px 12px;
  font-weight: 100;
  font-size: 40px;
  &:hover {
    opacity: 1;
    color: #ffffff;
  }
}
.modal-dialog {
  margin-top: 80px;
  @media (min-width: $screen-sm-min) {
    margin: 200px auto !important;
  }
    max-width: 920px !important;
}
.modal-header {
  padding: 0;
  text-align: left;
}
.modal-title {
  line-height: 1;
  h2 {
    font-size: 25px;
  }
}
.modal {
  position: absolute;
  box-shadow: none;
  background-color: rgba(0,0,0,1);
  overflow-y: auto;
  .btn {
    margin: 0 !important;
  }
  h2 {
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  .name-date {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 16px;
  }
  .wrap {
    background-color: rgba(50,50,50, .5);
    margin: 0;
    padding: 10px 20px;
  }
}

.modal-backdrop {
  display: none;
}


.modal-content, .modal-dialog, .modal-body {
  background-color: rgba(0,0,0,0);
  border: none;
  padding: 0;
  box-shadow: none;
}

.modal-header, .modal-footer {border: none;}

.modal-open {overflow: auto !important;  padding-right: 0 !important;}
.modal-open .modal {overflow-y: hidden;}
.modal input.form-control  {padding: 31px 10px; margin-bottom: 20px;}

.modal-footer {margin: 0; padding: 0;}
.modal-footer .success-msg, .error-msg {text-align:left;}

#modal-reservations {
  margin-top: 90px;
  .modal-dialog {
    margin-top: 60px !important;
  }
  @media (min-width: 992px) {
    margin-top: 60px;
  }
  .sod_select {
    padding: 25px 10px !important;
    margin-bottom: 20px !important;
    &:after {
      bottom: 27px;
    }
    .sod_option {
      color: #999999;
    }
  }
  .form-control{
    color:#fff;
  }
}

.social .ss-icon:hover{
  color:#fff;
}
