@import "variables";

#footer section {
  height: 320px;
  font-size: 15px;
  position: relative;
  @media (min-width: $screen-sm-min) {
    height: 650px;
    font-size: 16px;
  }
  text-align: center;
  display: table;
  width: 100%;
}


#footer .logo-mark img {height: 80px;
    margin-top: 4em;

  @media (min-width: $screen-sm-min) {
    height: 80px;
    margin-top: 2em;
  }
}

#footer .container {display: table-cell; vertical-align: middle;}

#footer .btn {
  width: 42%;
  max-width: 160px;
  margin: 0 10px;
  letter-spacing:1px;
  @media (min-width: $screen-sm-min) {
    width: 160px;
  }
}

#footer .address {

          background-image: url("http://tigermama.preview.getbento.com/assets/tigermamaboston/images/address-bg.jpg");

  @media (min-width: $screen-sm-min) {
     padding: 160px 0;
  }
}

#footer .address2 {

    padding: 20px 0;
    display: block;
    text-transform: uppercase;
}

#footer .address2:hover {
  color:#e94e09 !important;
}

#footer .hours  { 
    background-image: url("http://tigermama.preview.getbento.com/assets/tigermamaboston/images/hours-bg.jpg");
}


// Address

#footer section.address .address {padding: 40px; display: block;}


// Hours
#footer section.hours p {
  color: #ffffff;
  text-transform:uppercase;
}


#footer section.hours h1 {
  font-size: 80px;
}

#footer section.hours p {padding: 5px; line-height: 30px;}

#powered-by p:hover {  color:#e94e09 !important;}

 @media (min-width: $screen-sm-min) {
  #footer section.hours h1 {
  font-size: 100px;
  }

#footer .logo-mark img {
    height: 95px;
}

#footer .address2 {

    padding: 30px 0;
    display: block;
    text-transform: uppercase;

}
#footer .address2:hover {
  color:#e94e09 !important;
}
}
