 @import "variables";

// Superheader

.superheader { display: block;     background-image: url("{{ static('images/preheader-bg.jpg') }}"); min-height: 60px; padding-top: 12px; font-size: 12px;}

.superheader .phone, .superheader .location {color: #fff; letter-spacing: 1px; margin-right: 10px; margin-left: 5px; a {color: #fff;}}
.superheader .hidden-lg .btn {width: 100%;}

.social {font-size: 28px; color:#e94e09;}
.social .ss-icon {margin-right: 12px; color:#e94e09;}

.col-xs-6.call {padding-right: 5px;}
.col-xs-6.address {padding-left: 5px;}
.btn.reservations {margin-top: 8px; margin-bottom: 8px; background-color: #e94e09;}
.btn-orange{
  background-color:#e94e09;
  &:hover{
    background-color:$white;
    color:#000;
  }
}


// Header

#headers {
  // position: absolute;
  position: relative;
  z-index: 10;
  width: 100%;
  display: block;
}
.navbar-default {
  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
  margin-bottom: 0;
}
.nav {
  font-weight: 600;
  font-size: 16px;
  .Home {
    @media (min-width: 768px) {
      display: none;
    }
  }
  .Jobs {display: none;}
}

.navbar-default .navbar-nav > li > a {
  @media (min-width: 1400px) {
    color: #1d1d1b !important;
  }
  &:hover{

  }
}


.navbar-nav > li {
  padding: 0 25px;
  &:last-child {
    @media (min-width: 1400px) {
      padding-right: 0;
    }
  }
}

.navbar-nav > li.selected a {
  @media (min-width: 1400px) {
    padding-right: 0;
    color: #e94e09 !important;
    border-color: $white;
  }
}

.navbar-nav > li > a {
  letter-spacing: 1px;
  border-bottom: 2px solid transparent;
  transition: 1s; -webkit-transition: 1s; -moz-transition: 1s;
  padding-bottom: 15px;
  &:hover {border-color: #e94e09; }
  @media (min-width: 1400px) {
    padding: 51px 0 5px 0 !important;
  }
}

.navbar-nav > li > a:hover {
  // color:#1d1d1b !important;
}

.logo img {
  margin-top: 20px;
  margin-bottom: 20px;
  @media (max-width: 1399px) {
  width: 175px;
  height: 69px;
    margin-left: 25px;
  }
      width: 200px;
    height: 79px;
}

#main-nav{
  @media(min-width: 1400px){
      background-image: url("{{ static('images/address-bg.jpg') }}");
  }
  .nav{
    @media (min-width: 1400px) {
      float:right;
    }
  }
}

#main-nav, #mobile-nav, .navbar-header {border: none; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;background-color:#fff;}

#mobile-nav{
    @media(min-width: 1400px){
      background-color: transparent;
  }
}

#main-nav, #mobile-nav, .navbar-header a {color:#fff !important;}


#main-nav.active .container {height: 100%}
#main-nav.active #mobile-nav {height: 100%}

#mobile-nav.in, #mobile-nav.collapsing  {
  background-color: rgba(0,0,0,1);
  text-align: center;
}

#mobile-nav.in, #mobile-nav.collapsing  a{
color:#fff;
}
.navbar-header.background {
  background-color: rgba(0,0,0,1);
  background-image:none;
}

.navbar-header{
  background-image: url("{{ static('images/address-bg.jpg') }}");
  @media(min-width: 1400px){
      background-image:none;
      background-color: transparent;
  }
}

#mobile-nav .social {padding-bottom: 25px;}

.modified-margins{
  @media (min-width:768px){
    margin-right:0;
    margin-left:24px;
  }
}

.navbar-default .navbar-toggle:hover{
  background-color: rgba(0,0,0,1);
}

.navbar-toggle.open{
    background-color: rgba(0,0,0,1);
}

