<!-- Reservations Section Modal -->

<div class="modal fade" id="modal-reservations" tabindex="-1" role="dialog" aria-labelledby="modal-reservations-label" aria-hidden="true">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

  <div class="modal-dialog">
    <div class="modal-content left">
        <form method="get" id="TU_form" action="https://www.opentable.com/restaurant-search.aspx">

        <input type="hidden" name="RestaurantID" id="RestaurantID" value="{{ account.services.opentable.id }}"> <!-- 254077 --> <!-- 186550 -->

        <input type="hidden" name="rid" id="rid" value="{{ account.services.opentable.id }}">

        <input type="hidden" name="GeoID" id="GeoID" value="8">

        <input type="hidden" name="txtDateFormat" id="txtDateFormat" value="MM/dd/yyyy">

        <input type="hidden" name="RestaurantReferralID" id="RestaurantReferralID" value="{{ account.services.opentable.id }}">


        <div class="modal-header">
          <h2 class="brandon uppercase pink bold">Book a Table</h2>
        </div>


        <!-- Date -->
        <div class="form-group row">
          <div class="col-sm-12">
            <label for="date">Date</label>
            <input type="text" class="form-control date-icon" id="reservationsdatepicker" name="startDate" />
          </div>
        </div>

        <!-- Time -->
        <div class="form-group row">
          <div class="col-sm-12">

            <label for="event-type">Time</label>
            <div>
              <select class="form-control time" name="ResTime">
                <option selected="selected" disabled>Select a time</option>
                <option value='11:00 PM'>11:00 PM</option>
                <option value='10:45 PM'>10:45 PM</option>
                <option value='10:30 PM'>10:30 PM</option>
                <option value='10:15 PM'>10:15 PM</option>
                <option value='10:00 PM'>10:00 PM</option>
                <option value='9:45 PM'>9:45 PM</option>
                <option value='9:30 PM'>9:30 PM</option>
                <option value='9:15 PM'>9:15 PM</option>
                <option value='9:00 PM'>9:00 PM</option>
                <option value='8:45 PM'>8:45 PM</option>
                <option value='8:30 PM'>8:30 PM</option>
                <option value='8:15 PM'>8:15 PM</option>
                <option value='8:00 PM'>8:00 PM</option>
                <option value='7:45 PM'>7:45 PM</option>
                <option value='7:30 PM'>7:30 PM</option>
                <option value='7:15 PM'>7:15 PM</option>
                <option value='7:00 PM'>7:00 PM</option>
                <option value='6:45 PM'>6:45 PM</option>
                <option value='6:30 PM'>6:30 PM</option>
                <option value='6:15 PM'>6:15 PM</option>
                <option value='6:00 PM'>6:00 PM</option>
                <option value='5:45 PM'>5:45 PM</option>
                <option value='5:30 PM'>5:30 PM</option>
                <option value='5:15 PM'>5:15 PM</option>
                <option value='5:00 PM'>5:00 PM</option>
                <option value='4:45 PM'>4:45 PM</option>
                <option value='4:30 PM'>4:30 PM</option>

                <option value='3:00 PM'>3:00 PM</option>
                <option value='2:45 PM'>2:45 PM</option>
                <option value='2:30 PM'>2:30 PM</option>
                <option value='2:15 PM'>2:15 PM</option>
                <option value='2:00 PM'>2:00 PM</option>
                <option value='1:45 PM'>1:45 PM</option>
                <option value='1:30 PM'>1:30 PM</option>
                <option value='1:15 PM'>1:15 PM</option>
                <option value='1:00 PM'>1:00 PM</option>
                <option value='12:45 PM'>12:45 PM</option>
                <option value='12:30 PM'>12:30 PM</option>
                <option value='12:15 PM'>12:15 PM</option>
                <option value='12:00 PM'>12:00 PM</option>

                <option value='11:45 AM'>11:45 AM</option>
                <option value='11:30 AM'>11:30 AM</option>
                <option value='11:15 AM'>11:15 AM</option>
                <option value='11:00 AM'>11:00 AM</option>


              </select>
            </div>
          </div>
        </div>

        <!-- Number of People -->
        <div class="form-group row">
          <div class="col-sm-12">
            <label for="count">Number of people</label>
            <input type="partySize" class="form-control" id="partySize" name="partySize">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary btn-orange btn-submit submit-get btn-reservations">submit</button>
          </div>
        </div>


        <div class="modal-footer">
          <p class="error-msg">Please complete all required fields</p>
          <p class="success-msg">Success! Thank you for your submission.</p>
        </div>
      </form>
    </div>
  </div>
</div>
