<!-- Reservations Section Modal -->

<div class="modal fade" id="modal-reservations" tabindex="-1" role="dialog" aria-labelledby="modal-reservations-label" aria-hidden="true">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

  <div class="modal-dialog">
    <div class="modal-content left">
        <form method="get" id="TU_form" target="_blank" action="http://www.mytableup.com/reservationWidget/widgetAdd/">

        <input type="hidden" name="restaurantId" id="restaurantId" value="2289">


        <div class="modal-header">
          <h2 class="brandon uppercase pink bold">Book a Table</h2>
        </div>


        <!-- Date -->
        <div class="form-group row">
          <div class="col-sm-12">
            <label for="date">Date</label>
            <input type="text" class="form-control date-icon" id="reservationsdatepicker" name="date" />
          </div>
        </div>

        <!-- Time -->
        <div class="form-group row">
          <div class="col-sm-12">

            <label for="event-type">Time</label>
            <div>
              <input type="hidden" name="timeHour" class="time-hour">
              <input type="hidden" name="timeMinute" class="time-minute">
              <select class="form-control time">
                <option selected="selected" disabled>Select a time</option>
                <option value='{"timeHour":"23", "timeMinute":"00"}'>11:00 PM</option>
                <option value='{"timeHour":"22", "timeMinute":"45"}'>10:45 PM</option>
                <option value='{"timeHour":"22", "timeMinute":"30"}'>10:30 PM</option>
                <option value='{"timeHour":"22", "timeMinute":"15"}'>10:15 PM</option>
                <option value='{"timeHour":"22", "timeMinute":"00"}'>10:00 PM</option>
                <option value='{"timeHour":"21", "timeMinute":"45"}'>9:45 PM</option>
                <option value='{"timeHour":"21", "timeMinute":"30"}'>9:30 PM</option>
                <option value='{"timeHour":"21", "timeMinute":"15"}'>9:15 PM</option>
                <option value='{"timeHour":"21", "timeMinute":"00"}'>9:00 PM</option>
                <option value='{"timeHour":"20", "timeMinute":"45"}'>8:45 PM</option>
                <option value='{"timeHour":"20", "timeMinute":"30"}'>8:30 PM</option>
                <option value='{"timeHour":"20", "timeMinute":"15"}'>8:15 PM</option>
                <option value='{"timeHour":"20", "timeMinute":"00"}'>8:00 PM</option>
                <option value='{"timeHour":"19", "timeMinute":"45"}'>7:45 PM</option>
                <option value='{"timeHour":"19", "timeMinute":"30"}'>7:30 PM</option>
                <option value='{"timeHour":"19", "timeMinute":"15"}'>7:15 PM</option>
                <option value='{"timeHour":"19", "timeMinute":"00"}'>7:00 PM</option>
                <option value='{"timeHour":"18", "timeMinute":"45"}'>6:45 PM</option>
                <option value='{"timeHour":"18", "timeMinute":"30"}'>6:30 PM</option>
                <option value='{"timeHour":"18", "timeMinute":"15"}'>6:15 PM</option>
                <option value='{"timeHour":"18", "timeMinute":"00"}'>6:00 PM</option>
                <option value='{"timeHour":"17", "timeMinute":"45"}'>5:45 PM</option>
                <option value='{"timeHour":"17", "timeMinute":"30"}'>5:30 PM</option>
                <option value='{"timeHour":"17", "timeMinute":"15"}'>5:15 PM</option>
                <option value='{"timeHour":"17", "timeMinute":"00"}'>5:00 PM</option>
                <option value='{"timeHour":"16", "timeMinute":"45"}'>4:45 PM</option>
                <option value='{"timeHour":"16", "timeMinute":"30"}'>4:30 PM</option>

                <option value='{"timeHour":"15", "timeMinute":"00"}'>3:00 PM</option>
                <option value='{"timeHour":"14", "timeMinute":"45"}'>2:45 PM</option>
                <option value='{"timeHour":"14", "timeMinute":"30"}'>2:30 PM</option>
                <option value='{"timeHour":"14", "timeMinute":"15"}'>2:15 PM</option>
                <option value='{"timeHour":"14", "timeMinute":"00"}'>2:00 PM</option>
                <option value='{"timeHour":"13", "timeMinute":"45"}'>1:45 PM</option>
                <option value='{"timeHour":"13", "timeMinute":"30"}'>1:30 PM</option>
                <option value='{"timeHour":"13", "timeMinute":"15"}'>1:15 PM</option>
                <option value='{"timeHour":"13", "timeMinute":"00"}'>1:00 PM</option>
                <option value='{"timeHour":"12", "timeMinute":"45"}'>12:45 PM</option>
                <option value='{"timeHour":"12", "timeMinute":"30"}'>12:30 PM</option>
                <option value='{"timeHour":"12", "timeMinute":"15"}'>12:15 PM</option>
                <option value='{"timeHour":"12", "timeMinute":"00"}'>12:00 PM</option>

                <option value='{"timeHour":"11", "timeMinute":"45"}'>11:45 AM</option>
                <option value='{"timeHour":"11", "timeMinute":"30"}'>11:30 AM</option>
                <option value='{"timeHour":"11", "timeMinute":"15"}'>11:15 AM</option>
                <option value='{"timeHour":"11", "timeMinute":"00"}'>11:00 AM</option>



<!--
                <option value='{"timeHour":"09", "timeMinute":"00"}'>9:00 AM</option>
                <option value='{"timeHour":"08", "timeMinute":"45"}'>8:45 AM</option>
                <option value='{"timeHour":"08", "timeMinute":"30"}'>8:30 AM</option>
                <option value='{"timeHour":"08", "timeMinute":"15"}'>8:15 AM</option>
                <option value='{"timeHour":"08", "timeMinute":"00"}'>8:00 AM</option>
                <option value='{"timeHour":"07", "timeMinute":"00"}'>7:45 AM</option>
                <option value='{"timeHour":"07", "timeMinute":"30"}'>7:30 AM</option>
                <option value='{"timeHour":"07", "timeMinute":"15"}'>7:15 AM</option>
                <option value='{"timeHour":"07", "timeMinute":"00"}'>7:00 AM</option> -->
              </select>
            </div>
          </div>
        </div>

        <!-- Number of People -->
        <div class="form-group row">
          <div class="col-sm-12">
            <label for="count">Number of people</label>
            <input type="partySize" class="form-control" id="partySize" name="partySize">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary btn-submit submit-get btn-reservations">submit</button>
          </div>
        </div>


        <div class="modal-footer">
          <p class="error-msg">Please complete all required fields</p>
          <p class="success-msg">Success! Thank you for your submission.</p>
        </div>
      </form>
    </div>
  </div>
</div>
