{% extends 'base.html' %}
{% block content %}

<div id="donations">
  <!-- Splash Section Template -->
  {% include '_splash.html' with context %}

  <!-- Info -->
  <section class="info wow fadeIn" id="info">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h2 class="brandon light uppercase">{{ current.fields.info.title }}</h2>
          <div>
            {{ current.fields.info.description }}
          </div>
        </div>
      </div>
    </div>
  </section>


</div>
{% endblock %}