{% extends 'base.html' %}
{% block content %}
<div id="location">

  <!-- Splash Section Template -->
  {% include '_splash.html' with context %}

  <!-- Info -->
  <section id="info" class="info wow fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2 class="brandon light">{{ current.fields.info.title }}</h2>
            <div>
              {{ current.fields.info.description }}
            </div>
        </div>
      </div>
    </div>
  </section>


  <div class="mapwrap wow fadeIn">
    <div id="map"></div>
  </div>


</div>


<!-- Init Google Maps -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkdvtyUN3astr_ytaD3ZAPFWSfAyUyXdc&sensor=false"></script>

<script type="text/javascript">

// When the window has finished loading create our google map below
google.maps.event.addDomListener(window, 'load', init);

function init() {
    if ($('#map').length > 0) {
      // Basic options for a simple Google Map
      // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
      var mapOptions = {
          // How zoomed in you want the map to start at (always required)
          zoom: 14,
          draggable: false,
          scrollwheel: false,
          navigationControl: false,
          mapTypeControl: false,
          scaleControl: false,
          // The latitude and longitude to center the map (always required)
          center: new google.maps.LatLng(42.3439038,-71.1010995), // Sweet Cheeks

          // How you would like to style the map.
          // This is where you would paste any style found on Snazzy Maps.
          styles: [
            {
                "featureType": "all",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "saturation": 36
                    },
                    {
                        "color": "#333333"
                    },
                    {
                        "lightness": 40
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels.text.stroke",
                "stylers": [
                    {
                        "visibility": "on"
                    },
                    {
                        "color": "#ffffff"
                    },
                    {
                        "lightness": 16
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels.icon",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "administrative",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#fefefe"
                    },
                    {
                        "lightness": 20
                    }
                ]
            },
            {
                "featureType": "administrative",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "color": "#fefefe"
                    },
                    {
                        "lightness": 17
                    },
                    {
                        "weight": 1.2
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#f5f5f5"
                    },
                    {
                        "lightness": 20
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#f5f5f5"
                    },
                    {
                        "lightness": 21
                    }
                ]
            },
            {
                "featureType": "poi.park",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#dedede"
                    },
                    {
                        "lightness": 21
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#ffffff"
                    },
                    {
                        "lightness": 17
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "color": "#ffffff"
                    },
                    {
                        "lightness": 29
                    },
                    {
                        "weight": 0.2
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#ffffff"
                    },
                    {
                        "lightness": 18
                    }
                ]
            },
            {
                "featureType": "road.local",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#ffffff"
                    },
                    {
                        "lightness": 16
                    }
                ]
            },
            {
                "featureType": "transit",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#f2f2f2"
                    },
                    {
                        "lightness": 19
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#e9e9e9"
                    },
                    {
                        "lightness": 17
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#eb13a8"
                    }
                ]
            }
          ]
      };

      // Get the HTML DOM element that will contain your map
      // We are using a div with id="map" seen below in the <body>
      var mapElement = document.getElementById('map');

      // Create the Google Map using our element and options defined above
      var map = new google.maps.Map(mapElement, mapOptions);


      // Let's also add a marker while we're at it
      var marker = new google.maps.Marker({
          position: new google.maps.LatLng(42.3439038,-71.1010995),
          map: map,
          title: 'Sweet Cheeks',
          icon: "{{static('/images/map-marker.png')}}",
          url: "https://www.google.com/maps/place/Sweet+Cheeks+Q/@42.3439038,-71.1032882,17z/data=!3m2!4b1!5s0x89e379f437a946df:0x7edf0a3af8370d55!4m2!3m1!1s0x89e379f445c40751:0x25b7fa7c235dec3d"
      });

      // Link to Google Maps in a New Window
      google.maps.event.addListener(marker, 'click', function() {
        window.open(marker.url, '_blank');
      });

    }
}
</script>


{% endblock %}